@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Poppins:wght@300;400;500;700&display=swap');

.perfil_conteudo{
    margin: 35px;
    text-align: center;
    font-family: 'DMsans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.perfil_imagem {
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    background-image: url('../../assets/imagem.jpg');
    background-size: cover;
    border-radius: 50%;
}